<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <a class="brand" href="#">Backbone Boilerplate</a>

            
            <div id="menu-actions" class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Actions
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                </ul>
            </div>
            
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#about" title="About Us">About Us</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>