<div id="menu">
	<!-- menu -->
</div>
<div class="container-fluid">
    <div id="page-content">
        <!-- page content is placed here -->
        
        <section class="page" id="home" data-route="*actions" data-view="home">
            <!-- home page -->
        </section>
        <section class="page" id="about-us" data-route="about" data-view="example" data-title="About Us">
            <!-- example of view using model -->
        </section>
    </div>

    <hr>
    
    <footer>
        <p>&copy; JV Internet Solutions 2012</p>
    </footer>
</div>