<div id="menu">
	<!-- menu -->
</div>
<div class="container-fluid">
    <div id="page-content">
        <!-- page content is placed here -->
        
        <section class="page" id="home" data-route="*actions" data-view="home">
            <!-- home page -->
        </section>
        
        <section class="page" id="model" data-route="model" data-view="example" data-title="Model Example">
            <!-- example of view using model -->
        </section>
       
        <section class="page" id="param" data-route="model/:id" data-view="example" data-title="Model Example">
            <!-- example of route with param -->
        </section>
        
    </div>

    <hr>
    
    <footer>
        <p>&copy; JV Internet Solutions 2012</p>
    </footer>
</div>